nb-card {
  max-width: 50rem;
  border-radius: 15px;
  --card-padding: 0 1rem;
}

nb-card-footer {
  display: grid;
  grid-template-columns: auto auto;
}

nb-icon {
  margin-top: 1rem;
  margin-right: 1rem;
}

.comment {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.user {
  display: flex;
  margin-right: 1rem;
}

.user-link {
  color: var(--text-basic-color);
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}

.actions {
  display: flex;
  text-align: left;
}

.icon-action {
  margin: auto;
}

.date {
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}

.children {
  padding-left: 1.5rem;
  border-left: solid lightgrey 1px;
}
