<div>
  @if (comments$ | async; as comments) {
    @for (comment of comments; track comment.id) {
      <nb-card>
        <nb-card-body>
          <app-rich-text [html]="comment.htmlContent" />
        </nb-card-body>

        <nb-card-footer>
          <app-vote [post]="comment" />

          <app-user [user]="comment.author" />

          <div>
            <span class="datetime text-hint">{{
              comment.createdAt | relativeDate | async
            }}</span>

            @if (comment.actions.length == 1) {
              <button
                nbButton
                ghost
                shape="round"
                size="large"
                (click)="comment.actions[0].data.onClick()"
              >
                <nb-icon [icon]="comment.actions[0].icon" class="icon-action" />
              </button>
            } @else {
              <button
                nbButton
                ghost
                shape="round"
                size="large"
                [nbContextMenu]="$any(comment.actions)"
              >
                <nb-icon icon="more-horizontal-outline" class="icon-action" />
              </button>
            }
          </div>
        </nb-card-footer>
      </nb-card>

      <div class="children">
        <app-base-post-children
          [parent]="comment.children?.edges ?? comment.id"
        />
      </div>
    }
  } @else {
    <nb-spinner message="" />
  }
</div>
