@use "themes" as *;
@use "@nebular/theme/styles/globals" as *;
@import "styles/quill";

@include nb-install() {
  @include nb-theme-global();
}

body {
  overflow-y: scroll;
}

.user-picture.initials {
  user-select: none;
}

.createpost-window.full-screen {
  width: min(90vw, 60rem);

  nb-card-body {
    overflow: visible;
  }
}