<nb-card>
  <nb-card-body>
    <div class="commentaire">
      <span>...</span>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="actions">
      <div class="utilisateur">
        <nb-icon icon="person-outline" size="large" />
        <a href="" class="lien-utilisateur">u/...</a>
      </div>

      <div class="actions">
        <button nbButton ghost shape="round" size="large">
          <nb-icon icon="arrow-up-outline" class="icone-action" />
        </button>

        <button nbButton ghost shape="round" size="large">
          <nb-icon icon="arrow-down-outline" class="icone-action" />
        </button>

        <button nbButton ghost shape="round" size="large">
          <nb-icon icon="undo-outline" class="icone-action" />
        </button>
      </div>
    </div>

    <div class="date">
      <span class="text-hint">Il y a ...</span>
    </div>
  </nb-card-footer>
</nb-card>
