<nb-card>
    <nb-card-body>
        <div class="utilisateur">
            <nb-icon icon="person-outline" pack="eva"/>
            <p>u/utilisateur</p>
        </div>

        <div class="commentaire">
            <p>Commentaire commentaire commentaire commentaire commentaire commentaire commentaire</p>
        </div>

        <div class="votes">
            <div class="compteur-votes">
                <button nbButton ghost>
                    <nb-icon icon="arrow-up-outline" pack="eva" class="icone-vote"/>
                </button>
                <p>123</p>
            </div>
            
            <div class="compteur-votes">
                <button nbButton ghost>
                    <nb-icon icon="arrow-down-outline" pack="eva" class="icone-vote"/>
                </button>
            </div>
        </div>
    </nb-card-body>
</nb-card>