<nb-card>
    <nb-card-body>
        <div class="commentaire">
            <p>Commentaire commentaire commentaire commentaire commentaire commentaire commentaire</p>
        </div>

    </nb-card-body>
    <nb-card-footer>
        <div class="actions">
            <div class="utilisateur">
                <nb-icon icon="person-outline" pack="eva"/>
                <p>u/utilisateur</p>
            </div>
    
            <div class="actions">
                <button nbButton ghost>
                    <nb-icon icon="arrow-up-outline" pack="eva" class="icone-action"/>
                </button>
            
                <button nbButton ghost>
                    <nb-icon icon="arrow-down-outline" pack="eva" class="icone-action"/>
                </button>
    
                <button nbButton ghost>
                    <nb-icon icon="undo-outline" pack="eva" class="icone-action"/>
                </button>
    
                <button nbButton ghost>
                    <nb-icon icon="flag-outline" pack="eva" class="icone-action"/>
                </button>
            </div>
        </div>
        
        <div class="date">
            <p class="date">Il y a 2 ans</p>
        </div>
        
    </nb-card-footer>
</nb-card>