nb-card {
    max-width: 50rem;
    border-radius: 15px;
}

nb-card-body {
    height: fit-content;
}

nb-card-footer {
    display: grid;
    grid-template-columns: auto auto;
}

nb-icon {
    margin-top: 1rem;
    margin-right: 1rem;
}

.utilisateur {
    display: flex;
    margin-right: 1rem;
}

.actions {
    display: flex;
    text-align: left;
}

.icone-action {
    margin: auto;
}

.date {
    text-align: right;
    width: 5rem;
}