<nb-card>
    <nb-card-header>
        <h1>Créer un f/</h1>
    </nb-card-header>
    <nb-card-body>
        <ng-form>
            <div class="informations">
                <div>
                    <div class="input">
                        <label for="nom">Nom</label>
                        <input nbInput required fullWidth id="nom"/>
                    </div>
                    
                    <div class="input">
                        <label for="description">Description</label>
                        <textarea nbInput required id="description"></textarea>
                    </div>
                </div>

                <div class="input-images">
                    <div class="input">
                        <label for="image-icone">Icône</label>
                        <input nbInput required fullWidth type="file" id="image-icone"
                        accept="image/png, image/jpeg"/>
                    </div>

                    <div class="input">
                        <label for="image-banniere">Bannière</label>
                        <input nbInput required fullWidth type="file" id="image-banniere"
                        accept="image/png, image/jpeg"/>
                    </div>
                </div>
            </div>
    
            <button nbButton status="primary">Créer</button>
        </ng-form>
    </nb-card-body>
</nb-card>