.body{
  background-color: 1E1E1E;
}
.container{
  margin: 5rem;
}
.post{
  margin : 1rem 20rem;
  padding: .0012rem 0 1rem 1rem;
  justify-content: center;
  background-color: white;
  border-radius: 1rem;
}
.postFooter{
  display: flex;
}
.community{
  margin: 25%;
}
.timeSince{
  float: inline-end;
  vertical-align: super;
}

.news{
  float: left;
  margin: 5rem;
}
