<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
/>

<div class="news">
  {{ news }}
</div>

<div class="container">
  <div class="post">
    <h6 class="titre">{{ title }}</h6>
    <p class="text">{{ text }}</p>
    <a class="photo" href="{{ picture }}"></a>
    <div class="post-footer">
      <button class="like">
        <i class="fas fa-thumbs-up"></i>
      </button>
      <button class="dislike">
        <i class="fas fa-thumbs-down"></i>
      </button>
      <a class="community" href="{{ commmunity }}">Communitylink</a>
      {{ timeSince }}
    </div>
  </div>

  <div class="post">
    <h6 class="titre">{{ title }}</h6>
    <p class="text">{{ text }}</p>
    <a class="photo" href="{{ picture }}"></a>
    <div class="post-footer">
      <button class="like">
        <i class="fas fa-thumbs-up"></i>
      </button>
      <button class="dislike">
        <i class="fas fa-thumbs-down"></i>
      </button>
      <a class="community" href="{{ commmunity }}">Communitylink</a>
      {{ timeSince }}
    </div>
  </div>
</div>
