@use "../../../themes" as *;

nb-card {
  max-width: 50rem;
  --card-divider-width: 0;
  --card-border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
}

nb-card-header {
  text-align: center;
}

h2 {
  font-size: 1.4rem;
}

input[type="file"] {
  background-color: nb-theme(color-basic-default);
  color: nb-theme(color-basic-800);
  font-family: nb-theme(text-button-font-family);
  font-weight: nb-theme(text-button-font-weight);
  font-size: nb-theme(text-button-small-font-size);
  padding: 0.6875rem 1.125rem;
  border: 0;
  border-radius: nb-theme(border-radius);
  transition:
    0.25s outline-width,
    0.25s background-color;
  cursor: pointer;
}

input[type="file"]:hover {
  background-color: nb-theme(color-basic-hover);
}

input[type="file"]:active {
  background-color: nb-theme(color-basic-active);
  outline: 0.37rem solid nb-theme(outline-color);
}

input[type="file"]::file-selector-button {
  text-transform: uppercase;
  color: nb-theme(color-basic-800);
  font-family: nb-theme(text-button-font-family);
  font-weight: nb-theme(text-button-font-weight);
  padding: 0;
  margin-right: 1rem;
  font-size: nb-theme(text-button-medium-font-size);
  border: 0;
  background-color: transparent;
}

input,
button,
nb-select {
  width: 15rem;
}

.utilisateur {
  margin-left: auto;
  margin-right: auto;
}

.parametre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  vertical-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.appliquer {
  grid-column: 2;
}
