nb-card {
  max-width: 50rem;
  --card-divider-width: 0;
  --card-border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
}

nb-card-header {
  text-align: center;
}

h2 {
  font-size: 1.4rem;
}

input,
button,
nb-select {
  width: fit-content;
}

.categorie {
  margin-bottom: 2rem;
}

.utilisateur {
  margin-left: auto;
  margin-right: auto;
}

.parametre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  vertical-align: center;
}
