<nb-card>
  <nb-card-header> <h1>Paramètres</h1> </nb-card-header>
  <nb-card-body>
    <div>
      @if (userService.currentUser$ | async; as user) {
        <div class="utilisateur">
          <nb-user
            [name]="user.username"
            [picture]="user.avatarOid ? (user.avatarOid | getImg) : ''"
            color="#EEE"
          />
        </div>

        <h2>Informations</h2>
        <form #form="ngForm" (ngSubmit)="changer(form)">
          <label for="changer-nom">Changer le nom d'utilisateur</label>
          <nb-form-field class="parametre">
            <input
              class="input-param"
              type="text"
              nbInput
              placeholder="Nom d'utilisateur"
              id="changer-nom"
              [defaultValue]="user.username"
              name="changerNom"
            />
          </nb-form-field>

          <label for="changer-password">Changer le mot de passe</label>
          <nb-form-field class="parametre">
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              nbInput
              fullWidth
              id="changer-password"
              ngModel
              name="passwordConfirm"
              placeholder="Nouveau mot de passe"
              class="input-password"
            />
            <button
              type="button"
              nbSuffix
              nbButton
              ghost
              (click)="showPassword = !showPassword"
            >
              <nb-icon
                [icon]="showPassword ? 'eye-off-outline' : 'eye-outline'"
                pack="eva"
              />
            </button>
          </nb-form-field>

          <nb-form-field class="parametre">
            <input
              [type]="showConfirmPassword ? 'text' : 'password'"
              nbInput
              fullWidth
              id="mot-passe-confirmation"
              ngModel
              name="passwordConfirm"
              placeholder="Confirmer le nouveau mot de passe"
              class="input-password"
            />
            <button
              type="button"
              nbSuffix
              nbButton
              ghost
              (click)="showConfirmPassword = !showConfirmPassword"
            >
              <nb-icon
                [icon]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"
                pack="eva"
              />
            </button>
          </nb-form-field>

          <nb-form-field class="parametre">
            <span>Changer l'icône</span>
            <input
              class="input-param"
              nbInput
              type="file"
              accept="image/png, image/jpeg, image/gif, image/ico, image/webp, image/heic, image/avif"
            />
          </nb-form-field>

          <div class="parametre">
            <button nbButton status="primary" class="input-param">
              Appliquer les modifications
            </button>
          </div>
        </form>
      }
    </div>

    <div>
      <h2>Thème</h2>
      <div class="parametre">
        <label for="select-theme">Thème</label>
        <nb-select
          class="input-param"
          placeholder="Select Showcase"
          [(selected)]="selectedItem"
          id="select-theme"
        >
          <nb-option value="0">Clair</nb-option>
          <nb-option value="1">Sombre</nb-option>
        </nb-select>
      </div>
    </div>

    <div>
      <h2>Compte</h2>
      <div class="parametre">
        <span>Supprimer le compte</span>
        <button nbButton status="danger" class="input-param">
          Supprimer le compte
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
