<nb-card>
  <nb-card-header> <h1>Paramètres</h1> </nb-card-header>
  <nb-card-body>
    <div class="categorie">
      <h2>Informations</h2>

      @if (userService.currentUser$ | async; as user) {
        <div class="utilisateur">
          <nb-user
            [name]="user.username"
            [picture]="user.avatarOid ? (user.avatarOid | getImg) : ''"
            color="#EEE"
          />
        </div>
      }
      <div class="parametre">
        <label for="changer-icone">Changer l'icône</label>
        <input
          nbInput
          type="file"
          accept="image/png, image/jpeg, image/gif, image/ico, image/webp, image/heic, image/avif"
          id="changer-icone"
        />
      </div>
    </div>

    <div class="categorie">
      <h2>Thème</h2>
      <div class="parametre">
        <label for="select-theme">Thème</label>
        <nb-select
          placeholder="Select Showcase"
          [(selected)]="selectedItem"
          id="select-theme"
        >
          <nb-option value="0">Clair</nb-option>
          <nb-option value="1">Sombre</nb-option>
        </nb-select>
      </div>
    </div>

    <div class="categorie">
      <h2>Compte</h2>
      <div class="parametre">
        <label for="supprimer-compte">Supprimer le compte</label>
        <button nbButton status="danger" id="supprimer-compte">
          Supprimer le compte
        </button>
      </div>
    </div>
  </nb-card-body>
</nb-card>
