<div class="barre">
  <div class="connexion">
    @if (userService.currentUser$ | async; as user) {
      <nb-user
        [name]="user.username"
        [picture]="user.avatarOid ? (user.avatarOid | getImg) : ''"
        color="#EEE"
      />
    } @else {
      <div>
        <button nbButton status="primary">S'inscrire</button>
        <a nbButton outline status="primary" routerLink="connexion">
          Connexion
        </a>
      </div>
    }
  </div>

  <a class="logo" routerLink="/">
    <img class="image-logo" src="../../../assets/FlopIt.svg" alt="Flopit" />
  </a>

  <nb-form-field>
    <input nbInput placeholder="Rechercher..." />
    <button nbSuffix nbButton ghost>
      <nb-icon icon="search-outline" [attr.aria-label]="'Rechercher'" />
    </button>
  </nb-form-field>
</div>
