<div class="barre">
  <div class="connexion">
    @if (userService.currentUser$ | async; as user) {
      <div class="user-info">
        <nb-user
          [name]="user.username"
          [picture]="user.avatarUrl ?? ''"
          color="#EEE"
          [nbContextMenu]="userMenuItems"
          nbContextMenuTag="header-user-menu"
        />
        <nb-actions>
          <nb-action
            nbButton
            icon="bell-outline"
            [badgeDot]="notificationsAvailable | async"
            badgeStatus="danger"
            [nbPopover]="notifications"
            nbPopoverPlacement="bottom"
          />
        </nb-actions>
        <ng-template #notifications>
          @if (pushNotificationsEnabled | async) {
            <button
              nbButton
              status="danger"
              (click)="pushNotifications.disableNotifications()"
            >
              Désactiver notifications
            </button>
          } @else {
            <button
              nbButton
              status="primary"
              (click)="pushNotifications.enableNotifications()"
            >
              Activer notifications
            </button>
          }
        </ng-template>
      </div>
    } @else {
      <div>
        <button routerLink="/inscription" nbButton status="primary">
          S'inscrire
        </button>
        <a routerLink="/connexion" nbButton outline status="primary">
          Connexion
        </a>
      </div>
    }
  </div>

  <a class="logo" routerLink="/">
    <img class="image-logo" src="../../../assets/FlopIt.svg" alt="Flopit" />
  </a>

  <app-search />
</div>
