.container {
  max-width: 50rem;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}
.publication {
  max-width: 50rem;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}
