<div class="page">
  <app-post-list [subName]="(route.paramMap | async)!.get('subName')!" />

  <div class="sidebar">
    @if (sub$ | async; as sub) {
      <nb-card class="barre-infos">
        <nb-card-header
          style="background-image: url('{{ sub.bannerUrl ?? '' }}');"
        >
          <div>
            <h1 class="nom-sub">f/{{ sub.name }}</h1>
          </div>

          <div>
            @if (sub.iconUrl) {
              <nb-user
                onlyPicture
                [picture]="sub.iconUrl"
                color="#fff"
                size="large"
              />
            } @else {
              <nb-icon class="icone" icon="globe-2-outline" />
            }
          </div>
        </nb-card-header>

        <nb-card-body>
          <button
            nbButton
            [status]="sub.isFollowing ? 'basic' : 'primary'"
            class="bouton-rejoindre"
            (click)="toggleFollow()"
          >
            {{ sub.isFollowing ? "Quitter" : "Rejoindre" }}
          </button>

          <p>{{ sub.description }}</p>

          <div class="stats-item">
            <div class="stats">
              <span class="stats-data">{{ sub.followers.totalCount }}</span>
              <p>Membre{{ sub.followers.totalCount !== 1 ? "s" : "" }}</p>
            </div>

            <div class="stats">
              <span class="stats-data">{{ sub.posts.totalCount }}</span>
              <p>Publication{{ sub.posts.totalCount !== 1 ? "s" : "" }}</p>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    } @else {
      <nb-card
        class="barre-infos-loading"
        [nbSpinner]="true"
        nbSpinnerStatus="primary"
      >
        <nb-card-body />
      </nb-card>
    }
  </div>
</div>
