<div class="page">
  <div>
    <!-- Publications ici -->
  </div>
  <nb-card class="barre-infos">
    <nb-card-header>
      <h1 class="nom-sub">f/flopit</h1>
    </nb-card-header>

    <nb-card-body>
      <nb-list>
        <nb-list-item>
          <p>Description</p>
        </nb-list-item>

        <nb-list-item class="stats">
          <div>
            <span class="info-stats">50</span><br>
            <p>Membres</p>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
</div>
