<div class="page">
  <div>
    <!-- Publications ici -->
  </div>
  <nb-card class="barre-infos">
    <nb-card-header>
      <div>
        <h1 class="nom-sub">
          f/flopitflopitflopitflopitflopitflopitflopitflopitflopitflopit
        </h1>
      </div>

      <div>
        <nb-icon class="icone" icon="globe-2-outline" />
      </div>
    </nb-card-header>

    <nb-card-body>
      <button nbButton status="primary" class="bouton-rejoindre">
        Rejoindre
      </button>
      <nb-list>
        <nb-list-item>
          <p>Description</p>
        </nb-list-item>

        <nb-list-item class="stats-item">
          <div class="stats">
            <span class="stats-data">123</span>
            <p>Membres</p>
          </div>

          <div class="stats">
            <span class="stats-data">Top 1%</span>
            <p>des subs</p>
          </div>
        </nb-list-item>

        <nb-list-item> </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
</div>
