@use "../../../themes" as *;

nb-card-header {
  /* Juste logo for testing purposes mais ça devrait être la bannière du sub */
  background-image: url("../../../assets/FlopIt.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 8fr 2fr;
}

.page {
  display: grid;
  grid-template-columns: 5fr 2fr;
  width: 100%;
  height: 100%;
}

.barre-infos {
  border-radius: 20px;
  width: 30rem;
  min-height: 40rem;
  height: 82.5%;
  right: 2rem;
  position: fixed;
}

.nom-sub {
  background: nb-theme(background-basic-color-1);
  width: fit-content;
  padding: 0.5rem;
  border-radius: 15px ;
}

.icone {
  background: nb-theme(background-basic-color-1);
  width: fit-content;
  padding: 0.5rem;
  border-radius: 50% ;
  --icon-font-size: 75px;
}
