<nb-card>
  <nb-card-header>
    <h1>Créer un compte</h1>
  </nb-card-header>
  <nb-card-body>
    <ng-form>
      <div class="input">
        <label for="courriel">Courriel</label>
        <input nbInput required fullWidth id="courriel" />
      </div>

      <div class="input">
        <label for="nom-utilisateur">Nom d'utilisateur</label>
        <nb-form-field>
          <input type="text" nbInput required fullWidth id="nom-utilisateur" />
        </nb-form-field>
      </div>

      <div class="input">
        <label for="mot-passe">Mot de passe</label>
        <nb-form-field>
          <input
            [type]="getInputType()"
            nbInput
            required
            fullWidth
            id="mot-passe"
          />
          <button
            type="button"
            nbSuffix
            nbButton
            ghost
            (click)="toggleShowPassword()"
          >
            <nb-icon
              [icon]="showPassword ? 'eye-off-outline' : 'eye-outline'"
              pack="eva"
            />
          </button>
        </nb-form-field>
      </div>

      <div class="input">
        <label for="mot-passe">Confirmer le mot de passe</label>
        <nb-form-field>
          <input
            [type]="getInputType()"
            nbInput
            required
            fullWidth
            id="mot-passe"
          />
          <button
            type="button"
            nbSuffix
            nbButton
            ghost
            (click)="toggleShowPassword()"
          >
            <nb-icon
              [icon]="showPassword ? 'eye-off-outline' : 'eye-outline'"
              pack="eva"
            />
          </button>
        </nb-form-field>
      </div>

      <div>
        <a href="../connexion/connexion.component.html">Déjà un compte?</a>
      </div>

      <button nbButton status="primary">Créer le compte</button>
    </ng-form>
  </nb-card-body>
</nb-card>
