<nb-card>
  <nb-card-header>
    <a>
      <h2>
        {{ post.title }}
      </h2>
    </a>
  </nb-card-header>

  <nb-card-body>
    {{ post.textContent }}
  </nb-card-body>

  <nb-card-footer>
    <div>
      <button
        nbButton
        ghost
        shape="round"
        size="large"
        title="Vote positif"
        (click)="vote(VoteValue.Up)"
      >
        <nb-icon
          [status]="post.currentVote == VoteValue.Up ? 'primary' : ''"
          [icon]="
            post.currentVote == VoteValue.Up ? 'arrow-up' : 'arrow-up-outline'
          "
        />
      </button>
      <button
        nbButton
        ghost
        shape="round"
        size="large"
        title="Vote négatif"
        (click)="vote(VoteValue.Down)"
      >
        <nb-icon
          [status]="post.currentVote == VoteValue.Down ? 'primary' : ''"
          [icon]="
            post.currentVote == VoteValue.Down
              ? 'arrow-down'
              : 'arrow-down-outline'
          "
        />
      </button>
      <span class="text-hint">
        {{ post.cachedVotes }}
      </span>
    </div>

    <a class="sub" [routerLink]="['/f', post.sub.name]">
      <nb-user name="f/{{ post.sub.name }}" />
    </a>

    <span class="datetime text-hint">{{ post.createdAt | relativeDate }}</span>
  </nb-card-footer>
</nb-card>
