<nb-card>
  <nb-card-header>
    <a [routerLink]="['/f', post.sub.name, post.id]">
      <h2>
        {{ post.title }}
      </h2>
    </a>
  </nb-card-header>

  <nb-card-body>
    {{ post.textContent }}
  </nb-card-body>

  <nb-card-footer>
    <app-vote [post]="post" />

    <a class="sub" [routerLink]="['/f', post.sub.name]">
      <nb-user
        name="f/{{ post.sub.name }}"
        [picture]="post.sub.iconUrl ?? ''"
      />
    </a>

    <span class="datetime text-hint">
      {{ post.createdAt | relativeDate | async }}
    </span>
  </nb-card-footer>
</nb-card>
