<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">


<nb-card >

  <nb-card-header>
    <h6>
      {{title}}
    </h6>
  </nb-card-header>

  <nb-card-body>
    <p>
      {{content}}
    </p>
    <a href="{{picture}}">Picture</a>
  </nb-card-body>

  <nb-card-footer>
    <button id="likeButton" class="like-button">
      <i class="fas fa-thumbs-up"></i> Like
    </button>
    <button id="disLikeButton" class="disLike-button">
      <i class="fas fa-thumbs-down"></i> Like
    </button>
    <div class ="flopper">
      <a href="{{flopper}}">Flopper</a><span class="timePassed">{{timePassed}} time passed</span>
    </div>

  </nb-card-footer>
</nb-card>


<nb-card >

  <nb-card-header>
    <h6>
      {{title}}
    </h6>
  </nb-card-header>

  <nb-card-body>
    <p>
      {{content}}
    </p>
    <a href="{{picture}}">Picture</a>
  </nb-card-body>

  <nb-card-footer>
    <button id="likeButton" class="like-button">
      <i class="fas fa-thumbs-up"></i> Like
    </button>
    <button id="disLikeButton" class="disLike-button">
      <i class="fas fa-thumbs-down"></i> Like
    </button>
    <div class ="flopper">
      <a href="{{flopper}}">Flopper</a><span class="timePassed">{{timePassed}} time passed</span>
    </div>

  </nb-card-footer>
</nb-card>
