<nb-card>
  <nb-card-header>
    <h1>Créer un f/</h1>
  </nb-card-header>
  <nb-card-body>
    <form #f="ngForm" (ngSubmit)="submit(f)">
      <div class="informations">
        <div>
          <div class="input">
            <label for="nom">Nom</label>
            <nb-form-field>
              <span nbPrefix>f/</span>
              <input
                nbInput
                required
                fullWidth
                maxlength="64"
                id="nom"
                ngModel
                name="nom"
              />
            </nb-form-field>
          </div>

          <div class="input">
            <label for="description">Description</label>
            <textarea
              nbInput
              required
              maxlength="512"
              id="description"
              fullWidth
              ngModel
              name="description"
            ></textarea>
          </div>
        </div>

        <div class="input-images">
          <div class="input">
            <label for="image-icone">Icône</label>
            <input
              nbInput
              required
              fullWidth
              type="file"
              id="image-icone"
              accept="image/png, image/jpeg, image/gif, image/ico, image/webp, image/heic, image/avif"
              ngModel
              name="icon"
            />
          </div>

          <div class="input">
            <label for="image-banniere">Bannière</label>
            <input
              nbInput
              required
              fullWidth
              type="file"
              id="image-banniere"
              accept="image/png, image/jpeg, image/gif, image/ico, image/webp, image/heic, image/avif"
              ngModel
              name="banner"
            />
          </div>
        </div>
      </div>

      <input type="submit" nbButton status="primary" value="Créer" />
    </form>
  </nb-card-body>
</nb-card>
