:host {
  display: grid;
  gap: 1rem;
  @media screen and (min-width: 768px) {
    grid-template-columns: 18rem 1fr;
  }
  & > * {
    height: 100%;
  }
}

nb-user {
  width: 100%;
}

nb-chat {
  min-height: 32rem;
}
