<nb-card>
  <nb-list>
    @for (conversation of conversations$ | async; track conversation.id) {
      <nb-list-item nbButton (click)="activeConversation$.next(conversation)">
        <nb-user
          [name]="conversation.target.username"
          [title]="conversation.lastInteraction | relativeDate"
        />
      </nb-list-item>
    }
  </nb-list>
</nb-card>

@if (activeConversation$ | async; as conversation) {
  <nb-chat
    noMessagesPlaceholder="Aucun message pour l'instant"
    [scrollBottom]="true"
    [title]="conversation?.target?.username ?? ''"
  >
    @for (msg of messages$ | async; track msg.id) {
      <nb-chat-message
        type="text"
        [message]="msg.textContent"
        [reply]="conversation.target.id !== msg.author.id"
      />
    }

    <nb-chat-form
      messagePlaceholder="Écrivez un message..."
      (send)="sendMessage($event.message)"
    />
  </nb-chat>
}
