@import "quill/dist/quill.snow.css";

.ql-editor.ql-blank::before {
  content: "Insérer du texte ici...";
  color: rgba(var(--text-basic-color), 0.6);
}

.quill {
  width: 100%;
  height: 16rem;
}

@for $i from 1 through 3 {
  .ql-picker-label[data-value="#{$i}"]::before,
  .ql-picker-item[data-value="#{$i}"]::before {
    content: "Titre #{$i}" !important;
  }
}

.ql-toolbar {
  .ql-picker-label {
    color: var(--button-ghost-basic-text-color);
  }

  .ql-stroke {
    stroke: var(--button-ghost-basic-text-color);
  }

  .ql-fill {
    fill: var(--button-ghost-basic-text-color);
  }
}
